/venv
*/__pycache__
db.sqlite3
# Ignorer tous les fichiers et dossiers dans le dossier "mig"
api/migrations/*

# Autoriser le fichier "__init__.py" dans le dossier "mig"
!api/migrations/mig/__init__.py